.container-home {
    background-color: rgb(245, 243, 240);
    box-shadow: 0 0 10px black;
    height: 500px;
    width: 700px;
}

.nav-home {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 0 0 5px red;
    padding: 0 4%;
}

.buy-sell-btn{
    display: flex;
    gap: 10px;

}


.nav-home button{
    background-color: white;
    border: 0;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.buy-sell-btn button.active{
    background-color: rgba(255, 5, 5, 0.695);
    border: solid black;
}




.section-home{
    height: 450px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.763);

}




